* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

html {
    font-size: 62.5%;
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    font-size: 1.6rem;
    min-height: 100vh;
    overflow: hidden;
}

/* reset css for Button */
a,
button,
[href] {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 5rem;
}

.btn {
    position: relative;
    padding: 20px 60px;
    background-color: rgba(45, 45, 45, 1);
    border-radius: 99999px;
    font-size: 2rem;
    text-transform: uppercase;
    transition-duration: 0.5s;
    overflow: hidden;
}

.btn:hover {
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr), 0 0 45px var(--clr), 0 0 60px var(--clr);
}

.btn::before {
    content: '';
    position: absolute;
    top: var(--y, 0);
    left: var(--x, 0);
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(var(--clr), transparent, transparent);
    transition: 0.5s, top 0s, left 0s;
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
}

.btn::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgba(45, 45, 45, 0.8);
    border-radius: 99999px;
}

.btn span {
    position: relative;
    z-index: 1;
    letter-spacing: 0.5rem;
}
