<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Images Gallery</title>

        <!-- CSS -->
        <link rel="stylesheet" href="./assets/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="gallery">
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-01.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-02.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-03.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-04.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-05.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-06.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-07.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-08.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-09.jpg" alt="Sweetie Fox" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-10.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-11.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-12.jpg" alt="" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-13.jpg" alt="Sophie Limma" class="img" />
                </div>
                <div class="img-wrapper">
                    <img loading="lazy" src="./assets/image/img-14.jpg" alt="Lena Paul" class="img" />
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="./assets/js/main.js"></script>
    </body>
</html>
