* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.slider {
    position: absolute;
    inset: 8rem 20rem 8rem 8rem;
    background-image: linear-gradient(45deg, #ddd, #fff);
    border-radius: 2rem;
    transition: all 0.5s;
}

.slides {
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    width: 24rem;
    height: 32rem;
    justify-content: flex-start;
    align-items: flex-end;
    transform: translateY(-50%);
    border-radius: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    overflow: hidden;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0);
    box-shadow: unset;
}

.slider .slides:nth-child(3) {
    left: calc(75% + 24rem);
}

.slider .slides:nth-child(4) {
    left: calc(75% + 50rem);
}

.slider .slides:nth-child(5) {
    left: calc(75% + 76rem);
}

.slider .slides:nth-child(6) {
    left: calc(75% + 102rem);
    opacity: 0;
}

/* .slider .slides:nth-child(6) {
    left: calc(75% + 128rem);
    opacity: 0;
} */

.img_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    transition: all 0.5s;
}

.img_wrapper .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.content {
    position: absolute;
    padding: 4rem;
    max-width: 60rem;
    transition: 0.25s;
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    transform: translateY(4rem);
    background-color: rgba(0, 0, 0, 0.1);
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.5s;
}

.content .title {
    font-size: 4rem;
}

.content .desc {
    font-size: 1.6rem;
}

/* Buttons */
.buttons {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 50%;
    gap: 2rem;
    transform: translateX(-50%);
    z-index: 10;
}

.btn {
    position: relative;
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #111;
    border: 0.1rem solid #111;
}

.btn::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-top: 0.4rem solid #fff;
    border-left: 0.4rem solid #fff;
    transform: rotateZ(-45deg) translate(0.3rem, 0.3rem);
}

.btn.next-btn::before {
    transform: translate(-0.3rem, 0rem) rotateZ(135deg);
}

.btn:active {
    background-color: #fff;
}

.btn:active::before {
    border-color: #111;
}
