/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ccc;
    --background-color: #282828;
    --dark-bg-color: #181a1b;
    --white-color: #fff;
    --linear-gradient-color: linear-gradient(45deg, #0085ff, #ff4081);
    --opacity-color: rgba(255, 255, 255, 0.1);

    --font-family: 'JetBrains Mono', monospace;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* My Style */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 40%;
    border-radius: 0.6rem;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #ff4081;
}

.title {
    font-size: 3rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.reset {
    position: relative;
    border-radius: 0.2rem;
}

.reset::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn {
    position: relative;
    padding: 1.5rem 2rem;
    font-family: var(--font-family);
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    border-radius: inherit;
    transition: transform 0.1s linear, color 0.2s ease-out, background-color 0.2s ease-in-out;
}

.btn:active {
    border: 0.1rem solid var(--white-color);
    background-color: #ff4081;
    color: var(--white-color);
    transform: translate(0.5rem, 0.5rem);
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(44rem, 100%);
    aspect-ratio: 1/1;
    border-radius: 0.4rem;
    gap: 0.5rem;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 0.4rem;
    user-select: none;
    transform: rotateY(180deg);

    transition: 0.2s linear;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(147, 52, 83);
    border-radius: inherit;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    opacity: 1;
}

.card.flipped {
    transform: rotateY(0deg);
}

.matched:after,
.flipped:after {
    transform: rotateY(180deg);
}
.matched {
    transform: rotateY(0deg);
    pointer-events: none;
}
