:root {
    --background: #282828;
    --white-color: #fff;
    --font-family: 'JetBrains Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    background-image: var(--background);
    font-size: 1.6rem;
    min-height: 100vh;
    overflow: auto;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
    overflow: hidden;
}

/* Style */
.box {
    width: 40px;
    height: 40px;
    background-color: #222;
}

.animate {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
    }
    50% {
        background-color: #0f0;
        opacity: 1;
    }
    100% {
    }
}

.hue-rotate {
    animation: hue-rotate 1s linear forwards;
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        background-color: #0f0;
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
